.name {
    color: #f15b31;
    font-weight: 700;
}

body {
    margin: 0;
    text-align: center;
}

header {
    background: #f15b31;
    color: white;
    padding: 20px 30px;
}

h1 {
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 45px;
    margin: 0;
    text-transform: uppercase;
}

nav {
    background: #00a6b3;
    color: white;
    margin: 0;
}

main {
    margin: auto;
    width: 850px;
    float:
}

a {
    font-family: "Raleway", sans-serif;
    color: white;
    margin: 0 20px;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 18px;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

a:hover {
    border-color: white;
}

img {
    margin: 40px 8px;
}

h2 {
    font-family: "Raleway", serif;
    color: #0D2C40;
    letter-spacing: 1px;
    font-weight: 600;
    font-size: 20px;
}

p {
    font-family: "Raleway", serif;
}

footer {
    text-transform: uppercase;
    padding: 0 20px;
    background-color: #0D2C40;
    color: white;
    font-size: 14px;
    letter-spacing: .08em;
    font-weight: 500;
}

.copyright {
    float: left;
}

.message {
    float: right;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}